
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/QuickOrderWeb.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>BookKeeping &mdash; Website by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


      


        <div class="hero-slide owl-carousel site-blocks-cover">
            <div class="intro-section" style="background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80);">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                            <h1>Web Application To Manage Your Store</h1>
                            <p>Haz que tu negocio sea mas sencillo de manejar.</p>
                            <p><a href="#" class="btn btn-primary">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-section" style="background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80);">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                            <div class="intro">
                                <h1>App Movil</h1>
                                <p>Compra de manera sencilla usando nuestra app.</p>
                                <p><a href="#" class="btn btn-primary">Get Started</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="site-section ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <img src="https://www.canva.com/learn/wp-content/uploads/2015/09/unique-inspiring-about-page.jpg" alt="Image" class="img-fluid " >
                    </div>
                    <div class="col-lg-5 ml-auto">
                        <span class="caption">About Us</span>
                        <h2 class="title-with-line">Software Developer , Juan P Torres</h2>


                        <p class="mb-4">I graduated from EDP University in information technology. I have been learning new techniques that help me grow professionally. The technologies I know best about are .net core, xamarin and C#.</p>


                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled ul-arrow">
                                    <li>MVC</li>
                                    <li>Xamarin</li>
                                    <li>.Net Core</li>
                                   
                                </ul>

                            </div>
                            @*<div class="col-md-6">
                                <ul class="list-unstyled ul-arrow float-left">
                                    <li>Dolor sit amet</li>
                                    <li>Obcaecati similique excepturi</li>
                                    <li>Ipsum amet voluptas</li>
                                    <li>Aliquid facilis est</li>
                                    <li>Eligendi laborum assumenda</li>
                                </ul>
                            </div>*@
                        </div>


                    </div>
                </div>
            </div>
        </div>

      

        <div class="site-section bg-light pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center">
                    <div class="col-lg-4">
                        <span class="caption">Our Services</span>
                        <h2 class="title-with-line text-center mb-5">What We Do</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">

                        <div class="feature-1">
                            @*<div class="icon-heart bg-primary">

                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
                                    <path fill-rule="evenodd" d="M0 14.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </div>*@
                            <div class="feature-1-content">
                                <h2>Web Application</h2>
                                <p>
                                    Otro componente de la parte administrativa es una página web donde podrá controlar de igual forma los aspectos de su tienda en la plataforma desde su computadora , móvil o tableta.
                                </p>
                                <p><a href="#" class="btn btn-primary px-4 ">Learn More</a></p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-1">
                            @*<div class="icon-wrapper bg-primary">
                               <img src="" />
                            </div>*@
                            <div class="feature-1-content">
                                <h2>Mobile App</h2>
                                <p>
                                    Quick Order se compone de una aplicación móvil para iOS y android. Con la aplicación móvil los usuario podrán ver tiendas, comprar  y ver el estado de sus órdenes.Al mismo tiempo por ese medio el administrador podrá controlar su tienda.Entre los controles dados están la de editar productos,agregar productos ,eliminar productos,manejar órdenes y  manejar empleados.
                                </p>
                                <p><a href="#" class="btn btn-primary px-4 ">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                   


                  

                </div>
            </div>
        </div>





        <div class="intro-section small" style="background-image: url('images/hero_1.jpg');">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                        <h1>We Are Here To Help Grow Your Business </h1>
                        <p>Start Get Licence.</p>
                        <p>   @Html.ActionLink("Get Licence", "GetLicencePro", "License", null, new { @class = "btn btn-warning" })</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- // 05 - Block -->
    
        <div class="site-section">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <span class="caption">News</span>
                        <h2 class="title-with-line mb-2">Latest News &amp; Updates</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="news-entry-item">
                            <a href="#" class="thumbnail">
                                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                                <div class="date">
                                    <span>3</span>
                                    <span>July</span>
                                </div>
                            </a>
                            <h3 class="mb-0"><a href="#">Enim Ducimus molestiae digniss sunt</a></h3>
                            <div class="mb-3">
                                by <a href="#">Craig Smith</a> at Colorlib
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio minus maiores, neque repellendus molestias! Odio voluptas, et fuga. Quae, animi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="news-entry-item">
                            <a href="#" class="thumbnail">
                                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                                <div class="date">
                                    <span>3</span>
                                    <span>July</span>
                                </div>
                            </a>
                            <h3 class="mb-0"><a href="#">Enim Ducimus molestiae digniss sunt</a></h3>
                            <div class="mb-3">
                                by <a href="#">Craig Smith</a> at Colorlib
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio minus maiores, neque repellendus molestias! Odio voluptas, et fuga. Quae, animi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="news-entry-item">
                            <a href="#" class="thumbnail">
                                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                                <div class="date">
                                    <span>3</span>
                                    <span>July</span>
                                </div>
                            </a>
                            <h3 class="mb-0"><a href="#">Enim Ducimus molestiae digniss sunt</a></h3>
                            <div class="mb-3">
                                by <a href="#">Craig Smith</a> at Colorlib
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio minus maiores, neque repellendus molestias! Odio voluptas, et fuga. Quae, animi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="site-section ftco-subscribe-1" style="background-image: url('images/hero_2.jpg')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <h2>Subscribe to us!</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
                    </div>
                    <div class="col-lg-5">
                        <form action="" class="d-flex">
                            <input type="text" class="rounded form-control mr-2 py-3" placeholder="Enter your email">
                            <button class="btn btn-primary rounded py-3 px-4" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="footer">
            <div class="container">
                <div class="row justify-content-center">
                   
                  
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Contact</span></h3>
                        <ul class="list-unstyled horizontal">
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Support Community</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Share Your Story</a></li>
                            <li><a href="#">Our Supporters</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>




    <script src="js/main.js"></script>

</body>

</html>









