
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/QuickOrderWeb.cshtml";
}

    <body style="background-image:url()">
        <h1 class="text-center">Welcome to Quick Order</h1>

        <div class="container shadow bg-white rounded">

            <label>

                <b>

                    What is Quick Order System
                </b>
            </label>
            <p class="text-body ">

                Quick Order is a digital commerce system that tries to gain ground in Puerto Rico. This system tries to be
                Great use for local merchants who lack digital presence and online sales.
                It has inventory management, employee, data graphics and the power to sell online.
                Online systems have become a great help to merchants. It is one that can help grow a business, be seen by more people and offer additional services that
                They can be of great help to customers using ecommerce technology that help
            </p>
        </div>


        <div class="container shadow rounded" >
            <div class="row ">
                <div class="col-lg">

                    <div class="container bg-white">



                        <img alt="Custom eCommerce Web Design Services | Ecommerce Website Solutions" class="n3VNCb" src="https://www.rishabhsoft.com/wp-content/uploads/2019/11/Ecommerce-Website-Design-Solution.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 450px; height: 235.328px; margin: 0px;">
                        <label>

                            <b>

                                Web Component
                            </b>
                        </label>
                        <p class="text-body ">

                            Quick Order is a digital commerce system that tries to gain ground in Puerto Rico. This system tries to be
                            Great use for local merchants who lack digital presence and online sales.
                            It has inventory management, employee, data graphics and the power to sell online.
                            Online systems have become a great help to merchants. It is one that can help grow a business, be seen by more people and offer additional services that
                            They can be of great help to customers using ecommerce technology that help
                        </p>
                    </div>

                </div>
                <div class="col-lg">

                    <div class="container bg-white">



                        <img alt="Custom eCommerce Web Design Services | Ecommerce Website Solutions" class="n3VNCb" src="https://www.rishabhsoft.com/wp-content/uploads/2019/11/Ecommerce-Website-Design-Solution.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 450px; height: 235.328px; margin: 0px;">
                        <label>

                            <b>

                                Mobile Component
                            </b>
                        </label>

                        <p class="text-body ">

                            Quick Order is a digital commerce system that tries to gain ground in Puerto Rico. This system tries to be
                            Great use for local merchants who lack digital presence and online sales.
                            It has inventory management, employee, data graphics and the power to sell online.
                            Online systems have become a great help to merchants. It is one that can help grow a business, be seen by more people and offer additional services that
                            They can be of great help to customers using ecommerce technology that help
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container shadow bg-white rounded" style="margin:50px,0,50px,0">

            <div class="pricing py-5  ">
                <div>

                    <h2 class="text-center"> Register Now and Start Using Our Tools</h2>
                </div>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <!-- Free Tier -->
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">Pro License </h5>
                                    <h6 class="card-price text-center">$100<span class="period">/month</span></h6>
                                    <hr>
                                    <p>Get license to start use our Quick Order System and make your busissness grow.</p>
                                    @Html.ActionLink("Get Licence", "GetLicencePro", "License", null, new { @class = "btn btn-warning" })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center"> Trial License </h5>
                                    <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                                    <hr>
                                    <p>Get license to start use our Quick Order System and make your busissness grow.</p>
                                    @Html.ActionLink("Get Licence", "GetLicense", "License", null, new { @class = "btn btn-warning" })

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>

