
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Settings</h1>



<div class="container shadow " style="padding:20px">

    <h2>Information</h2>
    <hr />
    <div class="row">

        <div class="col-lg">

            <input type="button" value="Your Information" class="btn btn-primary btn-block" />
            @*<a class="btn btn-block btn-primary"></a>*@

        </div>

        <div class="col-lg">

            <input type="button" value="Store Information" class="btn btn-primary btn-block" />
            @*<a class="btn btn-block btn-primary"></a>*@

        </div>


    </div>
    <h2>About Us</h2>
    <hr />
    <div class="row">

        <div class="col-lg">

            <input type="button" value="Policies" class="btn btn-warning btn-block" />
            @*<a class="btn btn-block btn-primary"></a>*@

        </div>
        <div class="col-lg">

            <input type="button" value="Term And Conditions" class="btn btn-warning btn-block" />
            @*<a class="btn btn-block btn-primary"></a>*@

        </div>
    </div>


</div>

