@model QuickOrderAdmin.Models.CardViewModel
 
@{
    Layout = "QuickOrderWeb";
    ViewData["Title"] = "GetLicencePro";
}



@if (!String.IsNullOrEmpty(ViewBag.CardError))
{
    <script>
        $(function () {
            $('#carderrornotificationModal').modal();
        });
    </script>
}

<div class="modal fade" id="carderrornotificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="text-center " style="text-decoration-color:red">@ViewBag.CardError </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>



<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row ">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Register credit card </h1>
            <p class="lead mb-0">Start Growth Your Business</p>
            @*<p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p>*@
        </div>
    </div>
   

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">

                <div class="tab-content">                      

                        <form role="form" asp-action="GetLicencePro">


                            <div class="container">
                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">
                                            <label>Full name (on the card)</label>
                                            <input type="text" asp-for="Holdername"  placeholder="Cardholder name" class="form-control">
                                            <span asp-validation-for="Holdername" class="text-danger"></span>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">
                                            <label>Card number</label>

                                            <input type="number" asp-for="cardNumber" placeholder="Card number"   class="form-control">
                                            <span asp-validation-for="cardNumber" class="text-danger"></span>

                                        </div>

                                    </div>

                                </div>

                               
                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">

                                          
                                                <input type="number" placeholder="MM" asp-for="MM" class="form-control">
                                                <span asp-validation-for="MM" class="text-danger"></span>

                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">
                                           
                                          

                                                <input type="number" placeholder="YY" asp-for="YY" class="form-control">
                                                <span asp-validation-for="YY" class="text-danger"></span>
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="CVV" asp-for="CVc">
                                            <span asp-validation-for="CVc" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl">
                                        <div class="form-group">
                                            <label>Enter Email To Send License Code</label>
                                            <input type="text" asp-for="Email" placeholder="Email" required class="form-control">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <button type="submit" class="btn btn-warning btn-block rounded shadow-sm"> Confirm</button>
                        </form>
                    

                </div>
                <!-- End -->

            </div>
        </div>
    </div>


</div>










