
@{
    Layout = "QuickOrderWeb";
    ViewData["Title"] = "GetLicencePro";
}







<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Register credit card</h1>
            <p class="lead mb-0">Easily build a well-structured credit card</p>
            @*<p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p>*@
        </div>
    </div>
    <!-- End -->

    <div class="carousel-item">
        <img src="..." alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">

                <div class="tab-content">

                    <!-- credit card info-->
                    <div id="nav-tab-card" class="tab-pane fade show active">
                        <p class="alert alert-success">Some text success or error</p>
                        <form role="form" asp-action="GetLicencePro">
                            <div class="form-group">
                                <label for="username">Full name (on the card)</label>
                                <input type="text" name="username" placeholder="Cardholder name" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Card number</label>
                                <div class="input-group">
                                    <input type="text" name="cardNumber" placeholder="Card number" class="form-control" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fa fa-cc-visa mx-1"></i>
                                            <i class="fa fa-cc-amex mx-1"></i>
                                            <i class="fa fa-cc-mastercard mx-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">Expiration</span></label>
                                        <div class="input-group">
                                            <input type="number" placeholder="MM" name="MM" class="form-control" required>
                                            <input type="number" placeholder="YY" name="YY" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4">
                                        <label data-toggle="tooltip" title="Three-digits code on the back of your card">
                                            CVV
                                            <i class="fa fa-question-circle"></i>
                                        </label>
                                        <input type="text" required class="form-control" placeholder="CVV" name="CVV">
                                    </div>
                                </div>



                            </div>

                            <div class="form-group">
                                <label for="username">Enter Email To Send License Code</label>
                                <input type="email" name="email" placeholder="Email" required class="form-control">
                            </div>


                            <button type="submit" class="subscribe btn btn-warning btn-block rounded-pill shadow-sm"> Confirm</button>
                        </form>
                    </div>

                </div>
                <!-- End -->

            </div>
        </div>
    </div>


</div>










