
@{
    Layout = "QuickOrderWeb";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Index</title>
    <style>
        /*.container {
            height: 200px;
            position: relative;
            border: 3px solid green;
        }*/

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .centerH {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

    <section class="pricing py-5  "  >
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- Free Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Pro License </h5>
                            <h6 class="card-price text-center">$100<span class="period">/month</span></h6>
                            <hr>
                            <p>Get license to start use our Quick Order System and make your busissness grow.</p>
                            @Html.ActionLink("Get Licence", "GetLicencePro", "License", null, new { @class = "btn btn-warning" })

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center"> Trial License </h5>
                            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                            <hr>
                            <p>Get license to start use our Quick Order System and make your busissness grow.</p>
                            @Html.ActionLink("Get Licence", "GetLicense", "License", null, new { @class = "btn btn-warning" })

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    @*<div class="d-flex align-items-center justify-content-center" style="height: 350px">
        <div class="row">




            <div class="col">
                <div class="card " style="padding:8px">
                    <h3>Quick Order License</h3>
                 
                  
                </div>
            </div>

            <div class="col">
                <div class="card " style="padding:8px">
                    <h3>Quick Order License</h3>
                    <p>Get license to start use our Quick Order System and make your busissness grow.</p>
                    @Html.ActionLink("Get Licence", "GetLicense", "License", null, new { @class = "btn btn-warning" })

                </div>
            </div>


        </div>
    </div>*@


   

</body>
</html>
