@model QuickOrderAdmin.Models.ProductViewModel

@{
    ViewData["Title"] = "AddProductStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

    $('document').ready(function () {
        $('input[type="file"]').change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

</script>

<script>

    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;

            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            $('#filelabel').text(fileName);
        });
    });

</script>

<h1 class="text-center">Add Product To @QuickOrderAdmin.Utilities.SelectedStore.CurrentStore.StoreName</h1>
<hr />
<div class="container align-middle">

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form asp-action="AddProductStore" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <img  id="img" class="rounded mx-auto d-block" height="150" width="150" alt="Piture" />
            </div>

            <div class="form-group">

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" asp-for="File" onclick="">
                <label class="custom-file-label" for="customFile" id="filelabel">Choose file</label>
            </div>
            </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryQuantity" class="control-label"></label>
                <input asp-for="InventoryQuantity" class="form-control" />
                <span asp-validation-for="InventoryQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

</div>



