@model Library.Models.Product

@{
    ViewData["Title"] = "DetailProdut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Produt: @Model.ProductName</h1>
<hr />

<div class="container align-middle">
    
    <div class="row">

        <div class="col-xl">


            <div class="container">
                <div class="row">
                    <div clas="col-lg">

                    <div class="form-group">

                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ProductImage)" width="150" height="150" class="rounded mx-auto d-block" />
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" readonly />

                        </div>
                    </div>

                    <div class="col-lg">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" readonly />

                        </div>
                    </div>

                    <div class="col-lg">
                        <div class="form-group">
                            <label asp-for="InventoryQuantity" class="control-label"></label>
                            <input asp-for="InventoryQuantity" class="form-control" readonly />

                        </div>
                    </div>
                </div>


            </div>

           


          

          
          
          
           
          

        </div>
       
    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ProductId}) 
   
</div>*@
