@model QuickOrderAdmin.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/QuickOrderWeb.cshtml";
}

<div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4">Forgot Password</h1>
        <p class="lead mb-0">Insert the email of your user , then click send code</p>
        @*<p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p>*@
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">                  
                    <form class="form-signin" asp-action="SendCode">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send Code To Email</button>
                      

                    </form>

                    @if (!string.IsNullOrEmpty(ViewBag.CodeSended))
                    {
                        <p class="lead mb-0 text-center">ViewBag.CodeSended</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <form asp-action="ConfirmCode">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Confirm Code</button>

                    </form>

                    @if (!string.IsNullOrEmpty(ViewBag.CodeError))
                    {
                        <p class="lead mb-0 text-center">  ViewBag.CodeError</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





